name: Build test
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install Dependencies
        run: |
          sudo apt update -y
          sudo apt install -y \
            libreadline6-dev \
            autoconf \
            automake \
            python3-pytest

      - name: Prepare (autoreconf)
        run: autoreconf -i

      - name: Prepare (configure)
        env:
          CFLAGS: "-g -O2 -Wpedantic -Werror -Wno-error=unused-result -fsanitize=address,undefined -fno-omit-frame-pointer"
          LDFLAGS: "-fsanitize=address,undefined"
        run: ./configure

      - name: Build
        run: make

      - name: Run pytest
        env:
          ASAN_OPTIONS: "detect_leaks=1"
          UBSAN_OPTIONS: "print_stacktrace=1"
        run: pytest -v

      - name: Run check
        run: make check
