name: Build test
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install Dependencies
        run: |
          sudo apt update -y
          sudo apt install -y \
            libreadline6-dev \
            autoconf \
            automake \
            python3-pytest

      - name: Prepare (autoreconf)
        run: autoreconf -i

      - name: Prepare (configure)
        run: ./configure

      - name: Build
        run: make

      - name: Run pytest
        run: pytest -v

      - name: Run check
        run: make check
