name: Enforce coding style
on:
  pull_request:
    branches:
      - main

jobs:
  style:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install Dependencies
        run: |
          sudo apt update -y
          sudo apt install -y \
            uncrustify
      - name: enforce style using uncrustify
        run: |
          uncrustify --replace -c uncrustify.cfg *.c *.h
          git diff --exit-code
